/* COLORS */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Sigmar+One&display=swap");
html {
  font-size: 62.5%;
}

.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}

body {
  font-family: "Comfortaa", cursive;
}

.brand-font {
  font-family: "Sigmar One", cursive;
}

h1 {
  color: #edfdfb;
  font-size: 20vmin;
}

h2 {
  font-size: 7vmin;
}

h3 {
  font-size: 5.6vmin;
}

h4 {
  font-size: 5.4vmin;
}

h5 {
  font-size: 5.2vmin;
}

p {
  font-size: 5vmin;
}
@media (min-width: 768px) {
  p {
    font-size: 1.8rem;
  }
}
@media (min-width: 1200px) {
  p {
    font-size: 2.2rem;
  }
}
@media (min-width: 1400px) {
  p {
    font-size: 2.6rem;
  }
}

.text-primary {
  --bs-text-opacity: 1;
  color: #04030f !important;
}

.text-secondary {
  --bs-text-opacity: 1;
  color: #edfdfb !important;
}

.btn-primary {
  --bs-btn-color: #EDFDFB;
  --bs-btn-bg: #CC0000;
  --bs-btn-border-color: #CC0000;
  --bs-btn-hover-color: #EDFDFB;
  --bs-btn-hover-bg: #CC0000;
  --bs-btn-hover-border-color: #EDFDFB;
  --bs-btn-active-color: #EDFDFB;
  --bs-btn-active-bg: #CC0000;
  --bs-btn-active-border-color: #CC0000;
  --bs-btn-disabled-bg: #CC0000;
  --bs-btn-disabled-border-color: #CC0000;
}

.btn-lg,
.btn-group-lg > .btn {
  --bs-btn-padding-y: 1rem;
  --bs-btn-padding-x: 5rem;
  --bs-btn-font-size: calc(100% + 1vw + 1vh);
  --bs-btn-border-radius: 0.5rem;
}

.btn-outline-light {
  --bs-btn-color: #EDFDFB;
  --bs-btn-border-color: #EDFDFB;
  --bs-btn-hover-color: #CC0000;
  --bs-btn-hover-bg: #EDFDFB;
  --bs-btn-hover-border-color: #f8f9fa;
  --bs-btn-active-color: #CC0000;
  --bs-btn-active-bg: #b9bab8;
  --bs-btn-active-border-color: #CC0000;
  --bs-btn-active-shadow: inset 0 3px 5px #CC0000;
  --bs-btn-disabled-color: #EDFDFB;
  --bs-btn-disabled-border-color: #EDFDFB;
}

.btn-outline-primary {
  --bs-btn-color: #04030f;
  --bs-btn-border-color: #CC0000;
  --bs-btn-hover-color: #f8f9fa;
  --bs-btn-hover-bg: #CC0000;
  --bs-btn-hover-border-color: #04030f;
  --bs-btn-active-color: #f8f9fa;
  --bs-btn-active-bg: #CC0000;
  --bs-btn-active-border-color: #04030f;
  --bs-btn-disabled-color: #CC0000;
  --bs-btn-disabled-border-color: #04030f;
}

/* -- NAVBAR ------------------------------ */
.navbar-toggler {
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
}

.toggler-icon {
  height: 3px;
  width: 100%;
  background: #CC0000;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* when the hamburger icon is clicked */
.navbar-toggler .top-bar {
  margin-top: 0px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

/* hamburger icon color */
.navbar-toggler.collapsed .toggler-icon {
  background: #04030F;
}

.icon {
  width: 30px;
  height: 30px;
  font-size: 0;
  background-repeat: no-repeat;
}

.facebook {
  background-image: url("../icons/facebook.svg");
}

.instagram {
  background-image: url("../icons/instagram.svg");
}

.twitter {
  background-image: url("../icons/twitter.svg");
}

.tiktok {
  background-image: url("../icons/tiktok.svg");
}

/* FOOTER ------------------------------ */
.footer-pizza {
  bottom: 10%;
  position: relative;
  width: 200px;
}

.footer {
  background-color: #B9BAB8;
}

.footer__top {
  background-color: #CC0000;
  color: #EDFDFB;
}

.footer__logo {
  padding-left: 2%;
}

.copyright {
  font-size: 0.8rem;
}

/* STYLES NOT IN BOOTSTRAP */
.box-shadow-gray {
  -webkit-box-shadow: 2px 2px 7px #b9bab8;
          box-shadow: 2px 2px 7px #b9bab8;
}

.text-shadow-light {
  text-shadow: 2px 2px 2px #f8e9f2;
}

.test {
  outline: 5px solid yellow;
}

.test1 {
  outline: 5px solid red;
}

/* HERO SECTION ------------------------------------- */
.hero {
  background: url("../images/hero.jpg") center;
  background-size: cover;
  height: 800px;
}
.hero__buttons {
  text-align: center;
}

/* ABOUT SECTION ---------------------------- */
#about {
  background-color: #B9BAB8;
}

/* SPECIALS SECTION ------------------------- */
#specials {
  background: url("../images/specials.jpg") center;
}

.text-bg-info {
  color: #04030f !important;
  background-color: #F8E9F2 !important;
}

/* LOCATION SECTION --------------- */
#location {
  background-color: #04030F;
  color: #EDFDFB;
}

.location article {
  width: 50%;
}

.map {
  min-height: 450px;
}

/* SIGN IN PAGE */
.sign-in-page {
  background: url("../images/sign-in-background.jpg") center;
  background-size: cover;
}

.sign-in-form {
  background-color: #f8e9f2;
}

/* MODIFYING THE FORM */
.form-select {
  color: #04030f;
  background-color: #edfdfb;
  border: 1px solid #b9bab8;
}

.form-select:focus {
  border-color: #CC0000;
  -webkit-box-shadow: 0 0 0 1px #CC0000;
          box-shadow: 0 0 0 1px #CC0000;
}

/* MENU PAGE *******************************************************************/
#menuHero {
  background: url("../images/menu-hero.jpg") center;
  background-size: cover;
  height: 75vh;
}

/* (Menu Item) Card Modification */
.card {
  width: 300px;
  height: 450px;
  -webkit-box-shadow: 2px 2px 7px #b9bab8;
          box-shadow: 2px 2px 7px #b9bab8;
  background-color: #f8e9f2;
}

.card-text {
  height: 125px;
}

.scroller {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.h-80 {
  height: 80px;
}

.checkout-page {
  background: url("../images/checkout-hero.jpg") center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.cart {
  background-color: #f8e9f2;
}

.container-sm {
  --bs-gutter-x: 0rem;
}