 // Customized the colors of the primary buttons
 .btn-primary {
   --bs-btn-color: #EDFDFB;
   --bs-btn-bg: #CC0000;
   --bs-btn-border-color: #CC0000;
   --bs-btn-hover-color: #EDFDFB;
   --bs-btn-hover-bg: #CC0000;
   --bs-btn-hover-border-color: #EDFDFB;
   --bs-btn-active-color: #EDFDFB;
   --bs-btn-active-bg: #CC0000;
   --bs-btn-active-border-color: #CC0000;
   --bs-btn-disabled-bg: #CC0000;
   --bs-btn-disabled-border-color: #CC0000;
 }

 // Customized tht size of the large buttons to make them even bigger
 .btn-lg,
 .btn-group-lg>.btn {
   --bs-btn-padding-y: 1rem;
   --bs-btn-padding-x: 5rem;
   --bs-btn-font-size: calc(100% + 1vw + 1vh);
   --bs-btn-border-radius: 0.5rem;
 }

 // Customuized the color of the outline light button for the footer button
 .btn-outline-light {
   --bs-btn-color: #EDFDFB;
   --bs-btn-border-color: #EDFDFB;
   --bs-btn-hover-color: #CC0000;
   --bs-btn-hover-bg: #EDFDFB;
   --bs-btn-hover-border-color: #f8f9fa;
   --bs-btn-active-color: #CC0000;
   --bs-btn-active-bg: #b9bab8;
   --bs-btn-active-border-color: #CC0000;
   --bs-btn-active-shadow: inset 0 3px 5px #CC0000;
   --bs-btn-disabled-color: #EDFDFB;
   --bs-btn-disabled-border-color: #EDFDFB;
 }

// Customized for the tips buttons on the cart/checkout page
 .btn-outline-primary {
   --bs-btn-color: #04030f;
   --bs-btn-border-color: #CC0000;
   --bs-btn-hover-color: #f8f9fa;
   --bs-btn-hover-bg: #CC0000;
   --bs-btn-hover-border-color: #04030f;
   --bs-btn-active-color: #f8f9fa;
   --bs-btn-active-bg: #CC0000;
   --bs-btn-active-border-color: #04030f;
   --bs-btn-disabled-color: #CC0000;
   --bs-btn-disabled-border-color: #04030f;
 }