/* STYLES NOT IN BOOTSTRAP */

.box-shadow-gray {
  box-shadow: 2px 2px 7px #b9bab8;
}

.text-shadow-light {
  text-shadow: 2px 2px 2px #f8e9f2;
}

.test {
  outline: 5px solid yellow;
}

.test1 {
  outline: 5px solid red;
}