.footer {
    
    &__top{
        height: 150px;
        background-color: $main-color;
        color: $light-color;
    }

    &__bottom {
        background-color: $color-gray;
        height: 250px;
    }

   
}