/* FOOTER ------------------------------ */

.footer-pizza {
    bottom: 10%;
    position: relative;
    width: 200px;
  }
  
  .footer {
    background-color: #B9BAB8;
  }
  
  .footer__top {
    background-color: #982e2e;
    color: #EDFDFB;
  }
  
  .footer__logo {
    padding-left: 2%;
  }
  
  .copyright {
    font-size: 0.8rem;
  }