/* HERO SECTION ------------------------------------- */
.hero {
    background: url("../images/hero.jpg") center;
    background-size: cover;
    height: 800px;
    &__buttons {
      text-align: center;
    }
  }
  
  /* ABOUT SECTION ---------------------------- */
  
  #about {
    background-color: #B9BAB8;
  } 
  
  
  /* SPECIALS SECTION ------------------------- */
  #specials {
    @media (min-width: 768px) {
      background: url("../images/specials.jpg") center;
    }

  
    
  }
  
  .text-bg-info {
    color: #04030f !important;
    background-color: #F8E9F2 !important;
  }
  
  /* LOCATION SECTION --------------- */
  
  #location {
    background-color: #04030F;
    color: #EDFDFB;
  }
  
  .location article {
    width: 50%;
  }
  
  .map {
    min-height: 450px;
  }