/* -- NAVBAR ------------------------------ */  
  .navbar-toggler {
    width: 30px;
    height: 30px;
    position: relative;
    transition: .5s ease-in-out;
  }
  
  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
  }  
  
  .toggler-icon {
    height: 3px;
    width: 100%;
    background: #CC0000;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  /* when the hamburger icon is clicked */
  .navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
  }

   //Makes the middle bar display
   .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
  }
  
  // makes the middle bar disappear when clicked
  .navbar-toggler .middle-bar {
    opacity: 0;    
  }
  
  // Makes the top and bottom bar turn into an X when clicked 
  .navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
  }  
  
  .navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
  }
 
  
  .navbar-toggler.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
  }
  
  /* hamburger icon color */
  .navbar-toggler.collapsed .toggler-icon {
    background: #04030F;
  }