/* SIGN IN PAGE */

.sign-in-page {
    background: url("/images/sign-in-background.jpg") center;
    background-size: cover;
    // width: 100vw;
    // height: 100vh;
  }
  
  .sign-in-form {
    background-color: #f8e9f2;
  }
  
  /* MODIFYING THE FORM */
  .form-select {
    color: #04030f;
    background-color: #edfdfb;
    border: 1px solid #b9bab8;
  }
  
  .form-select:focus {
    border-color: #CC0000;
    box-shadow: 0 0 0 1px #CC0000;
  }  