@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Sigmar+One&display=swap'); 
html {
	font-size: 62.5%;
}

body {
    font-family: $main-font;    
}

h1{     
    font-family: $brand-font;
    color: $light-color;
}
