$main-color:       #FF0022;
$light-color:      #EDFDFB;
$dark-color:       #04030F;
$color-gray:       #B9BAB8;
$color-light-gray: #F8E9F2;


$main-font: 'Comfortaa', cursive;
$brand-font:'Sigmar One', cursive;